body {
  font-style: Arial;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  width: 100%;
  background-color: gray;
  font-size: 20px;
  position: fixed;
  top: -5px;
}

.nav-items {
  padding: 20px;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:focus {
  color: black;
}

.cv-btn {
  border-radius: 30px;
  font-size: 20px;
  background-color: white;
  color: black;
  width: 10%;
  margin: 5px;
  margin-right: 10px;
}

.outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 70px);
  padding-top: 100px;
}

.intro-text {
  font-size: 40px;
}

.intro-name {
  font-size: 60px;
  color: purple;
}

.intro-para {
  font-size: 20px;
}

.intro {
  margin-left: 100px;
}

.profile-img {
  margin-left: 200px;
  margin-top: 100px;
}

.social-media {
  margin-top: 100px;
  margin-right: 30px;
}

.container1,
.container2 {
  background-color: gray;
  height: fit-content;
  font-size: 30px;
  padding: 50px;
}

.container2 {
  background-color: white;
}

.title1,
.title2 {
  display: block;
  color: white;
}

.title2 {
  color: black;
}

.card-img {
  display: flex;
  justify-content: center;
}

.cards-innercontainer1,
.cards-innercontainer2 {
  border-radius: 30px;
  margin: 20px;
  height: 400px;
  width: 400px;
}

.cards-innercontainer1 {
  background-color: white;
  color: black;
}

.cards-innercontainer2 {
  background-color: grey;
  color: white;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.card-content {
  margin-left: 15%;
  margin-top: 10%;
}

.card-content-items {
  font-size: 20px;
}

.cert-content {
  font-size: 20px;
  margin: 20px;
  color: black;
}
