body {
  font-style: Arial;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  width: 100%;
  background-color: gray;
  font-size: 20px;
  position: fixed;
  top: -5px;
}

.nav-items {
  padding: 20px;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:focus {
  color: black;
}

.cv-btn {
  border-radius: 30px;
  font-size: 20px;
  background-color: white;
  color: black;
  width: 10%;
  margin: 5px;
  margin-right: 10px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  margin: 5%;
}

.first-line {
  font-size: 30px;
}

.second-line {
  font-size: 50px;
  color: purple;
}

.third-line {
  font-size: 15px;
}

.intro {
  margin-left: 10%;
}

.profile-img {
  margin-left: 30%;
}

.social-media {
  margin-top: 5%;
}

.card1,
.card2 {
  background-color: gray;
  height: 500px;
  font-size: 30px;
  padding: 2%;
}

.card2 {
  background-color: white;
}

.title1,
.title2 {
  display: block;
  color: white;
}

.title2 {
  color: black;
}

.card-info1,
.card-info2 {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin: 20px;
  height: 400px;
  width: 400px;
  background-color: white;
  color: black;
}

.card-info2 {
  background-color: grey;
  color: white;
}

.cards-container {
  display: flex;
  justify-content: center;
}
